body,html{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px;
	max-height: 10vh;

	font-size: 1.4rem;
	color: #3a817c;
	background-color: #e4e4e7;
}



button {
	background-color: #3a817c;
	
	border-radius: 3px;
	border: none;
	padding: 10px 20px;
	color:#e4e4e7;
	font-size: 1rem;
}
/* button a {
	color:#e4e4e7;
	text-decoration: none;
	font-size: 1rem;
} */

button:hover {
	background-color: #468881;
	cursor: pointer;
}

h1 {
	font-size: 2rem;
}

/*Banner*/

.banner {
	color: #e4e4e7;
	background-image: url(https://images.unsplash.com/photo-1546019901-e9bccf605171?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 100%;

}

.banner-lg {
	min-height: 90vh;
}

.input-bar {
	display: flex;
	flex-direction: row;
	min-width: 40%;
}
.input-bar * {
	font-size: 1.5rem;
	margin: 3px;
	
}

.input-bar input {
	border-radius: 3px;
	border: none;
	padding: 5px 20px;
	min-width: 35vw;

	color: #333;
}
.input-bar input:focus {
	outline-color: #3a817c;
	outline-width: 5px;
}
.btn-lg {
	padding: 12px 30px;
}

/*thirds*/
.thirds {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
}
.thirds div {
	min-height: 40vh;
}

.showcase {
	display: flex;
	flex-flow: row wrap;
}
.showcase-block {
	width: 50%;
	min-height: 75vh;
}
.showcase-img {
	width: 50%;
	background-image: url(https://images.unsplash.com/photo-1519687079572-8a59631f3685?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.testimonials {
	display: flex;
}
.clients {
	max-width: 33%;
	min-height: 40vh;
}
